

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HogWildApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => expandSamplePages = !expandSamplePages">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sample Pages
            </NavLink>

            <!-- check if the Sample Pages section is expand-->
            @if (expandSamplePages)
            {
                <!-- Nested Navlink within the sample page section-->
                <NavLink class="nav-link" href="/SamplePages/Basics">
                    <span>Basic</span>
                </NavLink>

                <NavLink class="nav-link" href="/SamplePages/WorkingVersion" Match="NavLinkMatch.Prefix">
                    <span>Working Version</span>
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {
    //  Holds the current state of the Smaple Pages section (expanded or collapsed)
    private bool expandSamplePages = false;
    private bool collapseNavMenu = true;
}
